{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">



    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Cliente</h5>  
        </div>


        <div class="card-body">


            <form method="post" id="form" 
                action="{% url 'cliente:edit' pk=cliente_id %}" 
                data-cliente-id="{{ cliente_id }}">

                {% include 'app/cliente/form.html' %}


            </form>
        

            <!-- Línea divisoria (usando clase MDB) -->
            <hr class="my-4">

            <!-- Botones fuera del formulario -->
            <div class="d-grid gap-2 d-md-flex">    

            
                <button data-mdb-ripple-init 
                    type="button" 
                    id="registro_edit"
                    class="btn btn-primary">Editar
                </button>
            

                <a href="{% url 'cliente:list' %}"
                    data-mdb-ripple-init 
                    type="button" 
                    class="btn btn-secondary">Cancelar
                </a>

            </div>




        </div>
        

    </div>



</div>
{% endblock %}




{% block extrascripts %}  
    <script src="{% static 'js/common.js' %}"></script>
    
    <script>

        window.onload = function() {

            document.getElementById("btn_agregar_det").addEventListener("click", function() {

                // abrir modal                
                const modal = new mdb.Modal(document.getElementById('modal_add_detalle'));
                modal.show();


                document.getElementById("agregarObligacion").onclick = function() {

                    let select = document.getElementById("selectOption");
                    
                    if (!select.value) {
                        alert("Seleccione una Obligacion económica.");
                        return;
                    }

                    // Crear el formulario dinámicamente
                    let form = document.getElementById("form");
                    form.method = "POST";
  
                    form.action = "{% url 'cliente:cliente_obligacion' %}?tipo=edit";


                    // Crear un campo oculto para enviar el cliente_id
                    let clienteIdField = document.createElement("input");
                    clienteIdField.type = "hidden";
                    clienteIdField.name = "cliente_id";  // Nombre del campo
                    let clienteId = document.getElementById("form").getAttribute("data-cliente-id");
                    clienteIdField.value = clienteId;   // Asignar el valor del cliente_id que necesites
                    form.appendChild(clienteIdField);


                    // Agregar el token CSRF
                    let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    let csrfInput = document.createElement("input");
                    csrfInput.type = "hidden";
                    csrfInput.name = "csrfmiddlewaretoken";
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);

                    
                    // Campo para el ID de la obligacion
                    let codigoInput = document.createElement("input");
                    codigoInput.type = "hidden";
                    codigoInput.name = "codigo";
                    codigoInput.value = select.value;
                    form.appendChild(codigoInput);

                    // Campo para la descripción de la obligacion
                    let descripcionInput = document.createElement("input");
                    descripcionInput.type = "hidden";
                    descripcionInput.name = "descripcion";
                    descripcionInput.value = select.options[select.selectedIndex].text;
                    form.appendChild(descripcionInput);

                    // Agregar el formulario al documento y enviarlo
                    document.body.appendChild(form);
                    
                    form.submit();
                };

            });



            const deleteButtons = document.querySelectorAll('.delete-detalle');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault(); // Evita que el enlace redireccione

                    // Obtén el ID del registro a borrar
                    const itemId = this.getAttribute('data-item-id');
                    let deleteUrl = this.getAttribute('data-delete-url');
                                        
                    // Agrega ?tipo=edit a la URL
                    deleteUrl += "?tipo=edit";

                    // Obtener el formulario existente
                    let form = document.getElementById("form");
                    form.action = deleteUrl;

                    // Crear un campo oculto para enviar el cliente_id
                    let clienteIdField = document.createElement("input");
                    clienteIdField.type = "hidden";
                    clienteIdField.name = "cliente_id";  // Nombre del campo
                    let clienteId = document.getElementById("form").getAttribute("data-cliente-id");
                    clienteIdField.value = clienteId;   // Asignar el valor del cliente_id que necesites
                    form.appendChild(clienteIdField);



                    // Agregar el token CSRF (si no está ya en el formulario)
                    let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    let csrfInput = document.createElement("input");
                    csrfInput.type = "hidden";
                    csrfInput.name = "csrfmiddlewaretoken";
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);

                    // Campo para el ID del registro a borrar
                    let itemIdInput = document.createElement("input");
                    itemIdInput.type = "hidden";
                    itemIdInput.name = "item_id";
                    itemIdInput.value = itemId;
                    form.appendChild(itemIdInput);

                    // Enviar el formulario
                    form.submit();
                });
            });
                        





            document.getElementById("btn_agregar_timbrado").onclick = function() {    

                // abrir modal                
                const modal = new mdb.Modal(document.getElementById('modal_add_timbrado'));
                modal.show();


                document.getElementById("agregar_timbrado").onclick = function() {                

                    const timbrado = document.getElementById("timbrado");
                    if (!timbrado.value.trim()) {
                        alert("Por favor, complete el campo Timbrado");
                        timbrado.focus();
                        return false;
                    }

                    // Validar Fecha Inicio
                    const fechaInicio = document.getElementById("fecha_inicio");
                    if (!fechaInicio.value) {
                        alert("Por favor, seleccione una Fecha de inicio");
                        fechaInicio.focus();
                        return false;
                    }

                    // Validar Fecha Fin
                    const fechaFin = document.getElementById("fecha_fin");
                    if (!fechaFin.value) {
                        alert("Por favor, seleccione una Fecha de fin");
                        fechaFin.focus();
                        return false;
                    }
                    


                    // Crear el formulario dinámicamente
                    let form = document.getElementById("form");
                    form.method = "POST";
                    form.action = "{% url 'cliente:cliente_timbrado' %}";                    



                    // Agregar token CSRF
                    let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    let csrfInput = document.createElement("input");
                    csrfInput.type = "hidden";
                    csrfInput.name = "csrfmiddlewaretoken";
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);


                    // 2. Agregar campo timbrado
                    let timbradoValue = document.getElementById("timbrado").value;
                    let timbradoInput = document.createElement("input");
                    timbradoInput.type = "hidden";
                    timbradoInput.name = "timbrado";
                    timbradoInput.value = timbradoValue;
                    form.appendChild(timbradoInput);

                    // 3. Agregar campo fecha_inicio
                    let fechaInicioValue = document.getElementById("fecha_inicio").value;
                    let fechaInicioInput = document.createElement("input");
                    fechaInicioInput.type = "hidden";
                    fechaInicioInput.name = "fecha_inicio";
                    fechaInicioInput.value = fechaInicioValue;
                    form.appendChild(fechaInicioInput);

                    // 4. Agregar campo fecha_fin
                    let fechaFinValue = document.getElementById("fecha_fin").value;
                    let fechaFinInput = document.createElement("input");
                    fechaFinInput.type = "hidden";
                    fechaFinInput.name = "fecha_fin";
                    fechaFinInput.value = fechaFinValue;
                    form.appendChild(fechaFinInput);


                    

                    // Enviar formulario
                    form.submit();
                    return true;
                    

                };

            };



            

            document.getElementById("btn_agregar_timbrado").onclick = function() {    

                // abrir modal                
                const modal = new mdb.Modal(document.getElementById('modal_add_timbrado'));
                modal.show();


                document.getElementById("agregar_timbrado").onclick = function() {                

                    const timbrado = document.getElementById("timbrado");
                    if (!timbrado.value.trim()) {
                        alert("Por favor, complete el campo Timbrado");
                        timbrado.focus();
                        return false;
                    }

                    // Validar Fecha Inicio
                    const fechaInicio = document.getElementById("fecha_inicio");
                    if (!fechaInicio.value) {
                        alert("Por favor, seleccione una Fecha de inicio");
                        fechaInicio.focus();
                        return false;
                    }

                    // Validar Fecha Fin
                    const fechaFin = document.getElementById("fecha_fin");
                    if (!fechaFin.value) {
                        alert("Por favor, seleccione una Fecha de fin");
                        fechaFin.focus();
                        return false;
                    }
                    


                    // Crear el formulario dinámicamente
                    let form = document.getElementById("form");
                    form.method = "POST";
                    form.action = "{% url 'cliente:cliente_timbrado' %}";                    



                    // Agregar token CSRF
                    let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    let csrfInput = document.createElement("input");
                    csrfInput.type = "hidden";
                    csrfInput.name = "csrfmiddlewaretoken";
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);


                    // 2. Agregar campo timbrado
                    let timbradoValue = document.getElementById("timbrado").value;
                    let timbradoInput = document.createElement("input");
                    timbradoInput.type = "hidden";
                    timbradoInput.name = "timbrado";
                    timbradoInput.value = timbradoValue;
                    form.appendChild(timbradoInput);

                    // 3. Agregar campo fecha_inicio
                    let fechaInicioValue = document.getElementById("fecha_inicio").value;
                    let fechaInicioInput = document.createElement("input");
                    fechaInicioInput.type = "hidden";
                    fechaInicioInput.name = "fecha_inicio";
                    fechaInicioInput.value = fechaInicioValue;
                    form.appendChild(fechaInicioInput);

                    // 4. Agregar campo fecha_fin
                    let fechaFinValue = document.getElementById("fecha_fin").value;
                    let fechaFinInput = document.createElement("input");
                    fechaFinInput.type = "hidden";
                    fechaFinInput.name = "fecha_fin";
                    fechaFinInput.value = fechaFinValue;
                    form.appendChild(fechaFinInput);


                    

                    // Enviar formulario
                    form.submit();
                    return true;
                    

                };

                };






                const timbrado_delete_Buttons = document.querySelectorAll('.delete-timbrado-detalle');
            timbrado_delete_Buttons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault(); // Evita que el enlace redireccione

  
                    // Obtén el ID del registro a borrar
                    const itemId = this.getAttribute('data-item-id');
                    const deleteUrl = this.getAttribute('data-delete-url');


                    const form = document.createElement('form');


                    form.method = 'POST';
                    form.action = deleteUrl;
                    form.style.display = 'none';

                    // Agregar el token CSRF (si no está ya en el formulario)
                    let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    let csrfInput = document.createElement("input");
                    csrfInput.type = "hidden";
                    csrfInput.name = "csrfmiddlewaretoken";
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);



                    // Campo para el ID del registro a borrar
                    let itemIdInput = document.createElement("input");
                    itemIdInput.type = "hidden";
                    itemIdInput.name = "item_id";
                    itemIdInput.value = itemId;
                    form.appendChild(itemIdInput);


                    // Enviar (la recarga de página limpiará todo)
                    document.body.appendChild(form);
                    // Enviar el formulario
                    form.submit();
                    return true;



                });
            });
                        




        }




    </script>



{% endblock %}
