{% csrf_token %}



<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="cedula" class="col-form-label">Cédula</label>
            <div class="col-sm-4">
                <input type="text" 
                    name="cedula"  
                    class="form-control" 
                    id="cedula"
                    value="{{ form.cedula.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="nombre" class="col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="nombre"  
                    class="form-control" 
                    id="nombre"
                    value="{{ form.nombre.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="apellido" class="col-form-label">Apellido</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="apellido"  
                    class="form-control" 
                    id="apellido"
                    value="{{ form.apellido.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="timbrado" class="col-form-label">Timbrado</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="timbrado"  
                    class="form-control" 
                    id="timbrado"
                    value="{{ form.timbrado.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="celular" class="col-form-label">Celular</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="celular"  
                    class="form-control" 
                    id="celular"
                    value="{{ form.celular.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="email" class="col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" 
                    name="email"  
                    class="form-control" 
                    id="email"
                    value="{{ form.email.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="direccion" class="col-form-label">Dirección</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="direccion"  
                    class="form-control" 
                    id="direccion"
                    value="{{ form.direccion.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="negocio_servicio" class="col-form-label">Negoci/Servicio</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="negocio_servicio"  
                    class="form-control" 
                    id="negocio_servicio"
                    value="{{ form.negocio_servicio.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <div class="form-field col-md-6">
      <div class="row">
        <label for="tarifa" class="col-form-label">Tarifa</label>
        <div class="col-sm-6">
            
            <input type="text" 
                name="tarifa"  
                class="form-control text-end" 
                id="tarifa"
                value="{{ form.tarifa.value|default_if_none:'' }}"
                data-number="int">
                    
        </div>
      </div>
    </div>
</div>
  




<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="usuario_set" class="col-form-label d-block w-100">Usuario-marangatu</label>
            <div class="col-sm-10">
                <input type="text" 
                       name="usuario_set"  
                       class="form-control" 
                       id="usuario_set"
                       value="{{ form.usuario_set.value|default_if_none:'' }}">
            </div>
        </div>
    </div>

    <div class="form-field col-md-6">
        <div class="row">
            <label for="clave_set" class="col-form-label d-block w-100">Clave-marangatu</label>
            <div class="col-sm-10">
                <input type="text" 
                       name="clave_set"  
                       class="form-control" 
                       id="clave_set"
                       value="{{ form.clave_set.value|default_if_none:'' }}">
            </div>
        </div>
    </div>
</div>




<div class="mb-4 row">
    <div class="form-field col-md-6">
      <div class="row">
        <label for="timbrado_vigencia_inicio" class="col-form-label d-block w-100">Inicio de Vigencia</label>
        <div class="col-sm-10">
          <input type="date" 
                 name="timbrado_vigencia_inicio"  
                 class="form-control" 
                 id="timbrado_vigencia_inicio"
                 value="{{ form.timbrado_vigencia_inicio.value|default_if_none:'' }}">
        </div>
      </div>
    </div>
  
    <div class="form-field col-md-6">
      <div class="row">
        <label for="timbrado_vigencia_fin" class="col-form-label d-block w-100">Fin de Vigencia</label>
        <div class="col-sm-10">
          <input type="date" 
                 name="timbrado_vigencia_fin"  
                 class="form-control" 
                 id="timbrado_vigencia_fin"
                 value="{{ form.timbrado_vigencia_fin.value|default_if_none:'' }}">
        </div>
      </div>
    </div>
  </div>
  






<div class="mb-4 row">

    

    <!-- Button trigger modal -->
    {% if mostrar_accion %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Botón Agregar -->
        <button id="btn_agregar_det"
            type="button" 
            class="btn btn-outline-primary btn-sm"
            style="width: 120px;">
            Agregar 
        </button>
    </div>
    {% endif %}




    {% include 'app/cliente/modal_add_detalle.html' %}

    

    {{ formset.management_form }}

    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">


    <table class="table table-striped table-sm col-6">
        <thead>
            <tr class="table-primary">
                <th class="text-center text-nowrap">Código</th>
                <th class="text-center text-nowrap">Actividad Económica</th>
                {% if mostrar_accion %}
                <th class="text-center text-nowrap">Eliminar</th>
                {% endif %}
            </tr>
        </thead>

        <tbody class="table-group-divider table-hover">

            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.codigo }}</td>
                <td>{{ detalle.descripcion }}</td>

                {% if mostrar_accion %}
                <td>
                    <a href="#" class="text-danger p-0 delete-detalle" 
                        title="Borrar"
                        data-item-id="{{ detalle.codigo }}"
                        data-delete-url="{% url 'cliente:clientedetalledelete' detalle.codigo %}">                        
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                {% endif %}


            </tr>
            {% endfor %}

        </tbody>


    </table>

    </div>



</div>



{% include 'modal_delete.html' %}


