{% csrf_token %}



<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="cedula" class="col-form-label">Cédula</label>
            <div class="col-sm-4">
                <input type="text" 
                    name="cedula"  
                    class="form-control" 
                    id="cedula"
                    value="{{ form.cedula.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="nombre" class="col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="nombre"  
                    class="form-control" 
                    id="nombre"
                    value="{{ form.nombre.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="apellido" class="col-form-label">Apellido</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="apellido"  
                    class="form-control" 
                    id="apellido"
                    value="{{ form.apellido.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>


<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="celular" class="col-form-label">Celular</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="celular"  
                    class="form-control" 
                    id="celular"
                    value="{{ form.celular.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="email" class="col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" 
                    name="email"  
                    class="form-control" 
                    id="email"
                    value="{{ form.email.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="direccion" class="col-form-label">Dirección</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="direccion"  
                    class="form-control" 
                    id="direccion"
                    value="{{ form.direccion.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <div class="form-field col-md-8">
        <div class="row">
            <label for="negocio_servicio" class="col-form-label">Negoci/Servicio</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="negocio_servicio"  
                    class="form-control" 
                    id="negocio_servicio"
                    value="{{ form.negocio_servicio.value|default_if_none:'' }}">                        
            </div>
        </div>
    </div>
</div>



<div class="mb-4 row">
    <!-- Campo Tarifa -->
    <div class="form-field col-md-6">
      <div class="row">
        <label for="tarifa" class="col-form-label">Tarifa</label>
        <div class="col-sm-6">
            <input type="text" 
                name="tarifa"  
                class="form-control text-end" 
                id="tarifa"
                value="{{ form.tarifa.value|default_if_none:'' }}"
                data-number="int">
        </div>
      </div>
    </div>

    <!-- Campo Fecha de Inicio -->
    <div class="form-field col-md-6">
      <div class="row">
        <label for="fecha_ingreso" class="col-form-label">Fecha de ingreso</label>
        <div class="col-sm-6">
            <input type="date" 
                name="fecha_ingreso"  
                class="form-control" 
                id="fecha_ingreso"
                value="{{ form.fecha_ingreso.value|default_if_none:form.initial.fecha_ingreso|date:'Y-m-d' }}">

        </div>
      </div>
    </div>

</div>

  




<div class="mb-4 row">
    <div class="form-field col-md-6">
        <div class="row">
            <label for="usuario_set" class="col-form-label d-block w-100">Usuario-marangatu</label>
            <div class="col-sm-10">
                <input type="text" 
                       name="usuario_set"  
                       class="form-control" 
                       id="usuario_set"
                       value="{{ form.usuario_set.value|default_if_none:'' }}">
            </div>
        </div>
    </div>

    <div class="form-field col-md-6">
        <div class="row">
            <label for="clave_set" class="col-form-label d-block w-100">Clave-marangatu</label>
            <div class="col-sm-10">
                <input type="text" 
                       name="clave_set"  
                       class="form-control" 
                       id="clave_set"
                       value="{{ form.clave_set.value|default_if_none:'' }}">
            </div>
        </div>
    </div>
</div>






<div class="mb-4 row">




{{ formset.management_form }}

<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        data-mdb-tab-init
        class="nav-link active"
        id="obligaciones-tab"
        data-mdb-target="#obligaciones"
        type="button"
        role="tab"
        aria-controls="obligaciones"
        aria-selected="true"
      >
        Obligaciones
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        data-mdb-tab-init
        class="nav-link"
        id="timbrados-tab"
        data-mdb-target="#timbrados"
        type="button"
        role="tab"
        aria-controls="timbrados"
        aria-selected="false"
      >
        Timbrados
      </button>
    </li>
</ul>
  
<!-- Tabs content -->
<div class="tab-content" id="myTabContent0">
    <div
        class="tab-pane fade show active"
        id="obligaciones"
        role="tabpanel"
        aria-labelledby="obligaciones-tab" >
        
        <!-- Button trigger modal -->
        {% if mostrar_accion %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón Agregar -->
            <button id="btn_agregar_det"
                type="button" 
                class="btn btn-outline-primary btn-sm"
                style="width: 120px;">
                Agregar 
            </button>
        </div>
        {% endif %}

        {% include 'app/cliente/modal_add_detalle.html' %}

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

            <table class="table table-hover col-6">
                <thead>
                    <tr class="table-light">
                        <th class="text-center text-nowrap">Código</th>
                        <th class="text-center text-nowrap">Obligacion</th>
                        {% if mostrar_accion %}
                        <th class="text-center text-nowrap">Eliminar</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody class="table-group-divider table-hover">

                    {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle.codigo }}</td>
                        <td>{{ detalle.descripcion }}</td>

                        {% if mostrar_accion %}
                        <td>
                            <a href="#" class="text-danger p-0 delete-detalle" 
                                title="Borrar"
                                data-item-id="{{ detalle.codigo }}"
                                data-delete-url="{% url 'cliente:cliente_obligacion_delete' detalle.codigo %}">                        
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>

    </div>






    <div
        class="tab-pane fade"
        id="timbrados"
        role="tabpanel"
        aria-labelledby="timbrados-tab" >




        <!-- Button trigger modal -->
        {% if mostrar_accion %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón Agregar -->
            <button id="btn_agregar_timbrado"
                type="button" 
                class="btn btn-outline-primary btn-sm"
                style="width: 120px;">
                Agregar 
            </button>
        </div>
        {% endif %}        


        {% include 'app/cliente/modal_add_timbrado.html' %}

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

            <table class="table table-hover col-6">
                <thead>
                    <tr class="table-light">
                        <th class="text-center text-nowrap">timbrado</th>
                        <th class="text-center text-nowrap">inicio</th>
                        <th class="text-center text-nowrap">fin</th>
                        {% if mostrar_accion %}
                        <th class="text-center text-nowrap">Eliminar</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody class="table-group-divider table-hover">

                    {% for timbrado in detalles_timbrado %}
                    <tr>
                        <td>{{ timbrado.timbrado }}</td>
                        <td>{{ timbrado.fecha_inicio }}</td>
                        <td>{{ timbrado.fecha_fin }}</td>


                        {% if mostrar_accion %}
                        <td>
                            <a href="#" class="text-danger p-0 delete-timbrado-detalle" 
                                title="Borrar"
                                data-item-id="{{ timbrado.id }}"
                                data-delete-url="{% url 'cliente:cliente_timbrado_delete' timbrado.id %}">                        
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        



    </div>

</div>
  




  


</div>



{% include 'modal_delete.html' %}


