{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4">


    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Clientes</h5>  
        </div>

        <div class="card-body">

            <!-- Fila con el botón de agregar y el campo de búsqueda -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Botón Agregar -->
                <a href="{% url 'cliente:add' %}" 
                    class="btn btn-primary btn-sm"
                    style="width: 120px;">
                    <i class="fas fa-plus"></i> Agregar
                </a>

                <!-- Formulario de Búsqueda -->
                <form class="d-flex" method="GET" >
                    <div class="input-group input-group-sm">

                        <input type="text" class="form-control" 
                        placeholder="Buscar..." name="q" value="{{ request.GET.q }}">

                        <button class="btn btn-primary" data-mdb-ripple-init
                            style="width: 60px;">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>
                </form>

            </div>



            



            <table class="table table-striped  table-sm">
                <thead>
                    <tr class="table-primary" >

                        <th class="text-center text-nowrap">Cédula</th>
                        <th class="text-center text-nowrap">Nombre</th>
                        <th class="text-center text-nowrap">Apellido</th>
                        <th class="text-center text-nowrap">Timbrado</th>
                        <th class="text-center text-nowrap">Celular</th>
                        <th class="text-center text-nowrap">Email</th>
                        <th class="text-center text-nowrap">Dirección</th>                        

                        <th class="text-center text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider table-hover" >
                    {% for item in lista %}
                    <tr>
                        <td>{{ item.cedula }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.timbrado|default_if_none:'' }}</td>
                        <td>{{ item.celular|default_if_none:'' }}</td>
                        <td>{{ item.email|default_if_none:'' }}</td>
                        <td>{{ item.direccion|default_if_none:'' }}</td>

                        <td class="text-center">
                            <div class="d-flex justify-content-center gap-2">
                                
                                <a href="{% url 'actividad_economica:detail' item.pk %}" 
                                    class="text-primary p-0" title="Ver">
                                    <i class="fas fa-eye"></i>
                                </a>

                                <a href="{% url 'actividad_economica:edit' item.pk %}" 
                                    class="text-warning p-0" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" class="text-danger p-0 delete-btn" 
                                    title="Borrar"
                                    data-item-id="{{ item.pk }}"
                                    data-delete-url="{% url 'actividad_economica:delete' item.pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <!-- card -->



    <!-- Paginación -->
    {% include 'pagination.html' %}





</div>
{% endblock %}


{% block extrascripts %}  
    <script src="{% static 'js/actividad.js' %}"></script>
{% endblock %}
