
  <!-- Modal -->
  <div class="modal fade" 
    id="modal_add_timbrado" 
    tabindex="-1"   
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Timbrado</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <label for="selectOption" class="form-label">Obligacion:</label>
          <select id="selectOption" name="option" class="form-select">
            <option value="" disabled selected>Seleccione...</option>
            {% for obligacion in obligaciones %}
              <option value="{{ obligacion.obligacion }}">{{ obligacion.descripcion }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
            data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" id="agregarObligacion" 
            class="btn btn-primary">Agregar</button>
        </div>

      </div>
    </div>

  </div>


  
