<!-- Modal con select y botones -->
<div class="modal fade" id="modal_add_cliente_detalle" tabindex="-1" aria-labelledby="selectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="selectModalLabel">Seleccionar Opción</h5>
          <button type="button" class="btn-close text-white" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <label for="selectOption" class="form-label">Elige una opción:</label>
          <select id="selectOption" name="option" class="form-select">
            <option value="" disabled selected>Seleccione...</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
          </select>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" id="agregarOpcion" class="btn btn-primary">Agregar</button>
        </div>
  
      </div>
    </div>
  </div>
  
