
  <!-- Modal -->
  <div class="modal fade" 
    id="modal_add_detalle" 
    tabindex="-1"   
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actividade Economica</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <label for="selectOption" class="form-label">Elige una opción:</label>
          <select id="selectOption" name="option" class="form-select">
            <option value="" disabled selected>Seleccione...</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
            data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" id="agregarActividadEconomica" 
            class="btn btn-primary">Agregar</button>
        </div>

      </div>
    </div>

  </div>


  
