
  <!-- Modal -->
  <div class="modal fade" 
    id="modal_add_timbrado" 
    tabindex="-1"   
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Timbrado</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>


        
        <div class="modal-body">
        <form id="timbradoForm">

            <div class="mb-3">
              <label for="timbrado" class="form-label">Timbrado</label>
              <input type="text" class="form-control" id="timbrado" name="timbrado">
            </div>
          
            <div class="mb-3">
              <label for="fecha_inicio" class="form-label">Fecha inicio</label>
              <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
            </div>
          
            <div class="mb-3">
              <label for="fecha_fin" class="form-label">Fecha fin</label>
              <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
            </div>
        
        </form>
        </div>
      

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
            data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" id="agregar_timbrado" 
            class="btn btn-primary">Agregar</button>
        </div>

      </div>
    </div>

  </div>


  
