{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">



    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Actividad Económica</h5>  
        </div>


        <div class="card-body">
            <form method="post" id="form" action="{% url 'actividad_economica:add' %}">

                {% include 'app/actividad_economica/form.html' %}


            </form>
        

            <!-- Línea divisoria (usando clase MDB) -->
            <hr class="my-4">


            <!-- Botones fuera del formulario -->
            <div class="d-grid gap-2 d-md-flex">    

            
                <button data-mdb-ripple-init 
                    type="button" 
                    id="actividad_add"
                    data-url="{% url 'actividad_economica:add' %}" 
                    class="btn btn-primary">Agregar</button>
            

                <a href="{% url 'actividad_economica:list' %}">
                    <button data-mdb-ripple-init 
                        type="button" 
                        class="btn btn-secondary">Cancelar</button>
                </a>

            </div>




        </div>
        

    </div>



</div>
{% endblock %}




{% block extrascripts %}  
    <script src="{% static 'js/actividad.js' %}"></script>
{% endblock %}
