




   
<section id="sectionIA" 
class="container vh-100 d-flex flex-column mt-3" 
data-estado="inicial"
>    




<div id="chatMain" 
class="col-12 col-md-11 col-xl-10 col-xxl-9 
mx-auto px-2 px-md-3 flex-grow-1">




    <div id="saludoIA"  class="text-center">
    <p>¿En qué puedo ayudarte hoy?</p>
    </div>   

        


    <div id="chat-container">           
    
    </div>






    <div id="chat-footer"> 
    
    <textarea id="userInput" 
                placeholder="Escribe tu mensaje aquí..." 
                class="form-control mx-auto"></textarea>

    <div class="d-flex justify-content-between pt-2">
        <div><span></span></div>
        <div>
            <button id="btnChatIA" 
                    type="button" 
                    class="btn btn-primary btn-sm">Enviar</button>
        </div>
    </div>
    </div>


</div>
</section>
