<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarLeftAlignExample"
      aria-controls="navbarLeftAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->

    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">          
          <a class="nav-link" href="/home/">Inicio</a>
        </li>

        <!-- Navbar dropdown -->
        <li class="nav-item dropdown ">
          <a
            data-mdb-dropdown-init
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            aria-expanded="false"            
          >
            Aplicacion
          </a>
          
          <!-- Dropdown menu -->
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown" 
            data-mdb-theme="dark">
            

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" 
                href="{% url 'cliente:list' %}">Clientes</a>              
            </li>
            <li>
              <a class="dropdown-item" 
              href="{% url 'obligacion:list' %}">Obligacion</a>
            </li>

            <li>
              <a class="dropdown-item" 
              href="{% url 'pago:list' %}">Pagos</a>
            </li>
            <li><hr class="dropdown-divider" /></li>

          </ul>
        </li>

      </ul>

    </div>
    <!-- Collapsible wrapper -->


    <!-- Right elements -->
    <div class="d-flex align-items-center">

      
      <ul class="navbar-nav d-flex flex-row">
        <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a data-mdb-dropdown-init="" class="nav-link dropdown-toggle" 
            href="#" id="navbarDropdown" role="button" aria-expanded="false" 
            data-mdb-dropdown-initialized="true">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" 
            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 43.6364px, 0px);" 
            data-popper-placement="bottom-start" 
            data-mdb-popper="null"
            data-mdb-theme="dark"
            >
            
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
            </li>
            <li><hr class="dropdown-divider"></li>

          </ul>
        </li>
        <!-- Icon dropdown -->
      </ul>
         
    </div>
    <!-- Right elements -->
     

    </div>
  <!-- Container wrapper -->
</nav>



