{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">



    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Obligacion</h5>  
        </div>


        <div class="card-body">

            <form method="post" id="form" action="{% url 'obligacion:add' %}">

                {% include 'app/obligacion/form.html' %}

            </form>
        

            <!-- Línea divisoria (usando clase MDB) -->
            <hr class="my-4">

            <!-- Botones fuera del formulario -->
            <div class="d-grid gap-2 d-md-flex">    

            
                <button data-mdb-ripple-init 
                    type="button" 
                    id="registro_add"
                    data-url="{% url 'obligacion:add' %}" 
                    class="btn btn-primary btn-lg">Agregar
                </button>
            

                <a href="{% url 'obligacion:list' %}"
                    data-mdb-ripple-init 
                    type="button" 
                    class="btn btn-secondary btn-lg">Cancelar
                </a>

            </div>




        </div>
        

    </div>



</div>
{% endblock %}




{% block extrascripts %}  
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}
