{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">



    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Obligacion</h5>  
        </div>


        <div class="card-body">

            <form method="post" id="form" 
                action="#">


                {% include 'app/obligacion/form.html' %}

            </form>
        

            <!-- Línea divisoria (usando clase MDB) -->
            <hr class="my-4">

            <!-- Botones fuera del formulario -->
            <div class="d-grid gap-2 d-md-flex">    

            


                <a href="{% url 'obligacion:list' %}"
                    data-mdb-ripple-init 
                    type="button" 
                    class="btn btn-lg btn-secondary">Volver
                </a>

            </div>




        </div>
        

    </div>



</div>
{% endblock %}




{% block extrascripts %}  
<script>
    window.onload = function() {

        bloquearInput();
        
    }


</script>

{% endblock %}
