{% csrf_token %}

    <div class="mb-4 row">
        <div class="form-field col-md-6">
            
            <div class="row">
                <label for="obligacion" class="col-form-label">Codigo</label>
                <div class="col-sm-4">
                    <input type="text" 
                        name="obligacion"  
                        class="form-control" 
                        id="obligacion"
                        value="{{ form.obligacion.value|default_if_none:'' }}">                        
                </div>
            </div>
            
        </div>
    </div>


    <div class="mb-4 row">
        <div class="form-field col-md-10">
            
            <div class="row">
                <label for="descripcion" class="col-form-label">Descripcion</label>
                <div class="col-sm-8">
                    <input type="text" 
                        name="descripcion"  
                        class="form-control" 
                        id="descripcion"
                        value="{{ form.descripcion.value|default_if_none:'' }}">   

                </div>
            </div>
            
        </div>
    </div>



