{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4">


    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Obligacion</h5>  
        </div>

        <div class="card-body">

            <!-- Fila con el botón de agregar y el campo de búsqueda -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Botón Agregar -->
                <a href="{% url 'obligacion:add' %}" 
                    class="btn  text-primary text-decoration-none"
                    style="width: 120px;">
                    <i class="fas fa-plus"></i> Agregar
                </a>

                <!-- Formulario de Búsqueda -->
                <form class="d-flex" method="GET" >
                    <div class="input-group input-group-sm">

                        <input type="text" class="form-control" 
                        placeholder="Buscar..." name="q" value="{{ request.GET.q }}">

                        <button class="btn btn-primary" data-mdb-ripple-init
                            style="width: 60px;">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>
                </form>

            </div>



            



            <div class="table-responsive">
            <table class="table table-hover w-100">

                <thead>
                    <tr class="table-light" >
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th class="text-center text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" >
                    {% for item in lista %}
                    <tr>
                        <td class="align-middle">{{ item.obligacion }}</td>
                        <td class="align-middle">{{ item.descripcion }}</td>


                        <td class="align-middle text-center">
                            <div class="d-flex justify-content-center gap-2">
                              <a href="{% url 'obligacion:detail' item.pk %}" 
                                 class="btn btn-info btn-grid" title="Ver">
                                <i class="fas fa-eye"></i>
                              </a>
                        
                              <a href="{% url 'obligacion:edit' item.pk %}" 
                                 class="btn btn-warning btn-grid" title="Editar">
                                <i class="fas fa-edit"></i>
                              </a>
                        
                              <a href="#" class="btn btn-danger btn-grid delete-btn" 
                                 title="Borrar"
                                 data-item-id="{{ item.pk }}"
                                 data-delete-url="{% url 'obligacion:delete' item.pk %}">
                                <i class="fas fa-trash-alt"></i>
                              </a>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            </div>


            <!-- Paginación -->
            <div class="mt-4">
                {% include 'pagination.html' %}
            </div>


        </div>
    </div>
    <!-- card -->





</div>
{% endblock %}


{% block extrascripts %}  
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}
