{% csrf_token %}



<div class="mb-4 row">
    <div class="form-field col-md-6 col-lg-4">
        <div class="row">
            <label for="fecha" class="col-form-label">Fecha</label>
            <div class="col-sm-8">
                <input type="date" 
                    name="fecha"  
                    class="form-control" 
                    id="fecha"                                                 
                    value="{{ form.instance.fecha|date:'Y-m-d'|default:'' }}">
            </div>
        </div>
    </div>
</div>


<div class="mb-4 row">
    <div class="form-field col-md-6 col-lg-4">
        <div class="row">
            <label for="monto" class="col-form-label">Monto</label>
            <div class="col-sm-8">
                <input type="text" 
                    name="monto"  
                    class="form-control" 
                    id="monto"          
                    data-number="int"           
                    value="{{ form.monto.value|default_if_none:'0' }}">  
            </div>
        </div>
    </div>
</div>


<div class="mb-4 row">    
    <div class="form-field col-md-10 col-lg-8">
        <div class="row">
            <label for="obligacion" class="col-form-label">Activi Econ</label>
            <div class="col-md-10 col-lg-8">
                <select name="obligacion" 
                    class="form-control" 
                    id="obligacion">
                    <option value="">Seleccionar obligacion</option>

                    {% for obligacion in obligaciones_filtradas %}
                    <option value="{{ obligacion.pk }}"
                        {% if form.instance.obligacion.pk == obligacion.pk %}selected{% endif %}>
                        {{ obligacion.descripcion }}
                    </option>
                    {% endfor %}   

                </select>                        
                        
            </div>
        </div>
    </div>
</div>