{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4">


    <div class="card">

        <div class="card-header">
            <h5 class="mb-0">Pagos</h5>  
        </div>

        <div class="card-body">

            <!-- Fila con el botón de agregar y el campo de búsqueda -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Botón Agregar -->
                <a href="{% url 'cliente:add' %}" 
                    class="btn btn-primary btn-sm"
                    style="width: 120px;">
                    <i class="fas fa-plus"></i> Agregar
                </a>



            </div>



            



        </div>
    </div>
    <!-- card -->







</div>
{% endblock %}


{% block extrascripts %}  

{% endblock %}
